.Profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem; }
  .Profile--details {
    margin-top: 5rem;
    margin-bottom: 2rem; }
    .Profile--details__labels {
      font-size: 3rem;
      color: grey; }
    .Profile--details__data {
      font-size: 2rem; }
  .Profile--links {
    display: flex;
    flex-direction: row;
    position: relative; }
    .Profile--links__links {
      background-color: #1dace3;
      margin: 2rem;
      padding: 1rem 2rem;
      color: white;
      border-radius: 2rem;
      transition: all 0.4s;
      border: 1px solid #1dace3;
      text-decoration: none; }
      .Profile--links__links:hover {
        color: #1dace3;
        text-decoration: none;
        background-color: white; }
