.productDetail {
  position: relative;
  height: auto;
  display: flex; }
  .productDetail--grid {
    display: flex;
    align-items: center;
    padding-top: 20rem; }
    @media (max-width: 992px) {
      .productDetail--grid {
        padding-top: 5rem;
        height: auto;
        align-items: flex-start; } }
  @media (max-width: 992px) {
    .productDetail {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; } }
  .productDetail--right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    margin: 0 2rem;
    padding: 5rem 2rem; }
    @media (max-width: 992px) {
      .productDetail--right {
        width: auto;
        margin: 0 5rem;
        padding: 2rem 2rem; } }
    .productDetail--right__reviews {
      display: flex;
      align-items: center;
      padding: 2rem 0;
      font-size: 1.2rem; }
      .productDetail--right__reviews--span {
        margin-left: 2rem; }
    .productDetail--right__title {
      font-size: 4rem; }
    .productDetail--right__pnum {
      font-size: 1.3rem;
      color: grey; }
    .productDetail--right__line {
      margin: 1.5rem 0;
      border: 1px solid grey; }
    .productDetail--right__price {
      font-size: 3rem; }
    .productDetail--right__instock {
      font-size: 1.3rem;
      color: green; }
    .productDetail--right__outstock {
      font-size: 1.3rem;
      color: red; }
    .productDetail--right__description {
      font-size: 2rem; }
    .productDetail--right__descriptionBox {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .productDetail--right__soldBy {
      font-size: 1.6rem;
      margin: 2rem 0; }
    .productDetail--right__buy {
      display: flex;
      align-items: center; }
    .productDetail--right__span {
      font-size: 2rem;
      padding: 0 3rem; }

.carousel {
  width: 70rem;
  height: 70rem;
  margin: 0 5rem;
  overflow: hidden; }
  @media (max-width: 992px) {
    .carousel {
      padding-top: 3rem;
      width: 50rem;
      height: 50rem; } }
