.shop {
  display: relative; }
  .shop--container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .shop--container__title {
      padding: 5rem; }
      .shop--container__title--header {
        color: #1dace3;
        font-size: 5rem;
        font-family: "Great Vibes", cursive;
        padding: 0rem 4rem;
        overflow: hidden; }
        @media (max-width: 992px) {
          .shop--container__title--header {
            overflow: hidden;
            font-size: 9rem; } }
    .shop--container__mainflex--filter {
      width: 40rem; }
    .shop--container__products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 2rem; }
      @media (max-width: 992px) {
        .shop--container__products {
          grid-template-columns: 1fr 1fr; } }
      @media (max-width: 768px) {
        .shop--container__products {
          grid-template-columns: 1fr; } }
      .shop--container__products--single {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 5rem 2rem;
        -webkit-box-shadow: 0 8px 6px -6px #2c2c2c;
        -moz-box-shadow: 0 8px 6px -6px #383838;
        box-shadow: 0 8px 6px -6px #414141;
        border: 1px solid rgba(0, 174, 255, 0.5);
        padding: 2rem;
        border-radius: .5rem; }
        .shop--container__products--single__anchor {
          text-decoration: none;
          color: #0000009c;
          transition: all 0.4s;
          font-size: 1.5rem;
          margin-top: 2rem; }
          .shop--container__products--single__anchor:hover {
            color: #1dace3; }
        .shop--container__products--single__image {
          width: 25rem;
          height: 20rem; }
          @media (max-width: 768px) {
            .shop--container__products--single__image {
              width: 50%;
              height: 50%; } }
        .shop--container__products--single__button {
          text-decoration: none;
          color: white;
          background-color: #1dace3;
          outline: none;
          cursor: pointer;
          border: 1px solid #1dace3;
          border-radius: 10px;
          margin: 2rem 0;
          padding: 1rem 2rem;
          font-size: 2rem;
          transition: all 0.4s; }
          .shop--container__products--single__button:hover {
            background-color: white;
            color: #1dace3;
            text-decoration: none; }
        .shop--container__products--single__review {
          padding: 2rem 0;
          text-align: center; }

.filter {
  width: 30vw; }
  @media (max-width: 768px) {
    .filter {
      width: 70%; } }
  .filter--price {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .filter--category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    @media (max-width: 992px) {
      .filter--category {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (max-width: 768px) {
      .filter--category {
        grid-template-columns: 1fr 1fr; } }
    .filter--category :hover {
      color: #1dace3; }
