.homeMid {
  position: relative;
  width: 100%; }
  .homeMid--container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    justify-content: center; }
    .homeMid--container__div {
      margin: 2rem;
      display: flex; }
      .homeMid--container__div--link {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        background-color: #1dace3;
        border: 1px solid #1dace3;
        border-radius: 30rem;
        padding: 1rem 2rem;
        transition: all 0.4s; }
        .homeMid--container__div--link:hover {
          color: #1dace3;
          background-color: white; }
    .homeMid--container__header {
      position: relative;
      color: #1dace3;
      font-size: 5rem;
      font-family: "Great Vibes", cursive;
      padding: 0rem 3rem;
      overflow: hidden; }
      @media (max-width: 992px) {
        .homeMid--container__header {
          font-size: 4rem;
          overflow: hidden; } }
    .homeMid--container__headerInfo {
      font-weight: bold;
      font-size: 4rem;
      font-family: "Oswald", sans-serif;
      overflow: hidden; }
      @media (max-width: 992px) {
        .homeMid--container__headerInfo {
          font-size: 3rem;
          overflow: hidden; } }
    .homeMid--container__line {
      border-top: 2px solid #1dace3;
      border-bottom: 2px solid #1dace3;
      margin-top: 2rem;
      padding-top: .2rem;
      width: 10rem; }
    .homeMid--container__description {
      display: flex;
      width: 70vw;
      font-size: 1.3rem;
      color: #0000009c; }
      @media (max-width: 768px) {
        .homeMid--container__description {
          display: flex;
          flex-direction: column;
          width: 80%;
          margin: 2rem; } }
      .homeMid--container__description--info {
        margin: 5rem 3rem; }
        @media (max-width: 768px) {
          .homeMid--container__description--info {
            margin: 1rem auto; } }
  .homeMid--container2 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem; }
    .homeMid--container2__button {
      padding: 2rem 4rem;
      background-color: #1dace3;
      margin-bottom: 5rem;
      border-radius: 30px; }
    .homeMid--container2__header {
      color: #1dace3;
      font-size: 5rem;
      font-family: "Great Vibes", cursive;
      padding: 0rem 4rem; }
      @media (max-width: 992px) {
        .homeMid--container2__header {
          font-size: 4rem; } }
    .homeMid--container2__headerInfo {
      font-weight: bold;
      font-size: 4rem;
      font-family: "Oswald", sans-serif; }
      @media (max-width: 992px) {
        .homeMid--container2__headerInfo {
          font-size: 3rem; } }
    .homeMid--container2__line {
      border-top: 2px solid #1dace3;
      border-bottom: 2px solid #1dace3;
      margin-top: 2rem;
      padding-top: .2rem;
      width: 10rem; }
    .homeMid--container2__picContainer {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      @media (max-width: 1200px) {
        .homeMid--container2__picContainer {
          grid-template-columns: 1fr 1fr; } }
      @media (max-width: 768px) {
        .homeMid--container2__picContainer {
          grid-template-columns: 1fr; } }
      .homeMid--container2__picContainer--item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 50rem;
        margin: 0 2rem; }
        @media (max-width: 992px) {
          .homeMid--container2__picContainer--item {
            width: 95%;
            height: 50rem; } }
        .homeMid--container2__picContainer--item__description {
          padding-top: 1rem;
          font-size: 1.1rem;
          color: #0000009c; }
        .homeMid--container2__picContainer--item__notice {
          position: absolute;
          font-size: 1.5rem;
          color: white;
          right: 1.5rem;
          top: 1.5rem;
          background-color: #1dace3;
          padding: .5rem;
          border-radius: 3px; }
        .homeMid--container2__picContainer--item__picture--info {
          object-fit: cover;
          width: 35rem;
          height: 35rem; }
          @media (max-width: 992px) {
            .homeMid--container2__picContainer--item__picture--info {
              width: 100%;
              height: 35rem; } }
        .homeMid--container2__picContainer--item__foodPrice {
          display: flex;
          justify-content: space-between; }
          .homeMid--container2__picContainer--item__foodPrice--title {
            font-size: 1.5rem; }
          .homeMid--container2__picContainer--item__foodPrice--line {
            border-bottom: 1px dotted black;
            width: 18rem; }
            @media (max-width: 992px) {
              .homeMid--container2__picContainer--item__foodPrice--line {
                width: 60%; } }
            @media (max-width: 768px) {
              .homeMid--container2__picContainer--item__foodPrice--line {
                width: 80%; } }
          .homeMid--container2__picContainer--item__foodPrice--price {
            font-size: 1.5rem; }
