@import './variables.scss';

.Cart{
    position: relative;
    

   
    &--outerContainer{
        
        margin: 5rem 10rem;
        @include lg{
            margin:2rem 5rem;
        }
    }
    &--title{
        margin: 2rem 5rem;
        font-size: 4rem;
    }
    
    &--innerContainer{
       
        display: flex;
        flex-direction: row;
        @include lg{
            flex-direction: column;
        }
        //table
        &__table{

            &--tr{
                
               
                &__th{
                   
                    padding:2rem 1rem;
                    border-top: 2px solid black;
                    
                }
            }
            &--td{
                border-top: 1px solid gray;
                vertical-align: middle;
                text-align: center;
            }
            &--td{
                padding: 1rem 1rem;
                &__colimage{
                    height: 15rem;
                    width: 15rem;
                }
            }
            
        }

        //CheckingOut
        &__checkout{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 5rem;
            margin-top: 7rem;
            &__cButton{
                width: 100%;
            }
            &--subtotal{
                width: 100%;
                text-align: right;
                
                font-size: 3rem;
                border-bottom: 1px solid black;
                
                &__button{
                    width: 100%;
                    text-decoration: none;
                    font-size: 2rem;
                    background-color: $color-blue-light;
                    margin-top: 2rem;
                    color:white;
                    border-radius: 2px;
                    border:none;
                    text-decoration: none;
                    border: 1px solid;
                    padding: 1rem;
                    box-shadow: 0px 2px;
                    &:hover{
                        background-color: #1b99ca;
                    }
                }
            }
        }

    }
}
