@import './variables.scss';


.Profile{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 5rem;

	&--details{
		margin-top: 5rem;
		margin-bottom: 2rem;
		&__labels{
			font-size: 3rem;
			color:grey;
		}
		&__data{
			font-size: 2rem;
		}
	}
	&--links{
		display: flex;
		flex-direction: row;
		position: relative;
		&__links{
			background-color: $color-blue-light;
			margin: 2rem;
			padding: 1rem 2rem;
			color:white;
			border-radius: 2rem;
			transition: all 0.4s;
			border: 1px solid $color-blue-light;
			text-decoration: none;
			&:hover{
				color:$color-blue-light;
				text-decoration: none;
				background-color: white;
			}
		}
	}
	
}