@import "./variables";

*,
*::before,
*::after{
	margin:0;
	padding:0;
	box-sizing: inherit;
	overflow-x: hidden;
	
}

html{
	scroll-behavior: smooth;
	font-size: 62.5%;
	@include lg{
		font-size: 58%
	}
	@include md{
		font-size: 53%
	}
	@include sm{
		font-size: 51%
	}
	min-width: 490px;
	height: -webkit-fill-available;
	
}

body{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
 	min-height: -webkit-fill-available;
  	overflow: hidden; /* Hide scrollbars */
}

.page-container{
	display:flex;
	flex-direction: column;
	margin-top: 8rem;
	min-height: calc(100vh - 23rem);
}

.clickButton{
	
	background-color: $color-blue-light;
	color:white;
	border-radius: 30px;
	font-size: 2rem;
	padding:1rem 3rem;
	border: 1px solid $color-blue-light;
	transition: all 0.4s;
	text-decoration: none;
	&:hover{
		color:$color-blue-light;
		background-color: white;
	}
	&:focus{
		outline:none;
	}

}

.addCart{
	color:white;
	background-color: rgb(0, 136, 29);
	font-size: 2rem;
	padding: 0.2rem 1rem;
	margin: 1rem;
	border-radius: 5px;
	outline: none;
	border: none;
}
.subtractCart{
	color:white;
	background-color: red;
	font-size: 2rem;
	padding: 0.2rem 1rem;
	margin: 1rem;
	border-radius: 5px;
	outline: none;
	border: none;
}