//Color
$cursive-font:'Great Vibes', cursive;
$title-font:'Oswald', sans-serif;
$button-font:'Karla', sans-serif;

$color-white:white;
$color-black: black;
$color-transparent: #ffffff00;


$color-grey-dark:#0000009c;
$color-slate-dark: #29303b;
$color-blue-light: #1dace3;
$color-blue-dark: #001a49;
$color-grey-light: #ededed;



// Media Query Break Points
$screen-tn-max: 450px;
$screen-sm-max: 596px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-exlg-max: 1200px;


//Mixins

@mixin sm {
	@media (max-width: #{$screen-sm-max}){
		@content;
	}
}

@mixin md {
	@media (max-width: #{$screen-md-max}){
		@content;
	}
}

@mixin lg {
	@media (max-width: #{$screen-lg-max}){
		@content;
	}
}

@mixin exlg{
	@media (max-width: #{$screen-exlg-max}){
		@content;
	}
}

@mixin tn{
	@media (max-width: #{$screen-tn-max}){
		@content;	
	}
}

